.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
