.card__like {
  width: 22px;
  height: 19px;
  transition: 0.4s;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/card-like.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card__like:hover {
  opacity: 0.5;
}
